*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #747d8c
}
main{
    display: flex;
    flex-direction: row;
    height: 600px;
    margin: 20px;
}
p{
    background-color: #7bed9f;
}
.block1{
    background-color: #7bed9f;
    color: gray;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
    font-size:40px ;
    font-family: Ubuntu;
    }
   
.block2 {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 10px;
}
.block2_1{
    height: calc(100%/3 - 20px / 3);
    width: 100%;
    background-color: #7bed9f;
}
.block2_2{
    height: calc(100%/3 - 20px / 3);
    width: 100%;
   
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.block2_2_1{
height: 100%;
width: 50%;
background-color: #7bed9f;
margin-right: 5px;
}
.block2_2_2{
    height: 100%;
    width: 50%;
    background-color:#7bed9f;
    margin-left: 5px;
}
.block2_3{
    height: calc(100%/3 - 20px / 3);
    width: 100%;
    background-color:#7bed9f;
}
